<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-md-11">
				<p class="card-text">
					<span><%= message.user.username %>: </span>
					<%= message.body %>
				</p>
			</div>
		</div>
	</div>
</div>
