<body class="fod_site grid_home">
	<div class="sidenav">
		<div class="follow_link link_fb"><p>Facebook</p></div>
		<div class="follow_link link_tw"><p>Twitter</p></div>
		<div class="follow_link link_3"><p>Link 3</p></div>
		<div class="follow_link link_4"><p>Link 4</p></div>
		<div class="follow_link link_5"><p>Link 5</p></div>
	</div>
	<div class="main"> 
		<h1>The Font of Data</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecatcupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat.</p>
		<hr>
		<h3>RED</h3>
		<p>Lorem ipsum yadda yadda</p>
		<hr>
		<h3>BLUE</h3>
		<p>Lorem ipsum yadda yadda</p>
		<hr>
		<h3>GREEN</h3>
		<p>Lorem ipsum yadda yadda</p>
	</div>
</body>