<body class='play' id='play'>
	<div class="local grid_play">
		<canvas class="myCanvas" id="myCanvas" resize></canvas>
	</div>
</body>
<!-- <<<<<<< HEAD
<body class='play' id='play'>
	<div class="local grid_play">
		<canvas class="myCanvas" id="myCanvas" resize></canvas>
	</div>
=======
<body class='play grid_play bg_play' id='play'>
	<canvas class="myCanvas" id="myCanvas" resize></canvas>
>>>>>>> b4b7f4bd105954b167c64b5c58fd3c8abf95d757
</body> -->
