<body class='play bg_play' id='play'>
		<% if current_user.faction_id == 1 %>
			<div class='local'>
				<h1>Please choose a faction</h1>
				<table>
				  <tbody>
				    <td><%= link_to Faction.find(2).faction_name, faction_select_path(user: current_user, faction: Faction.find(2)), method: :put %></td>
				    <td><%= link_to Faction.find(3).faction_name, faction_select_path(user: current_user, faction: Faction.find(3)), method: :put %></td>
				    <td><%= link_to Faction.find(4).faction_name, faction_select_path(user: current_user, faction: Faction.find(4)), method: :put %></td>
				  </tbody>
				</table>
			</div>
		<% else %>
			<div class='local wrap play_grid'>
				<canvas class="myCanvas" id="myCanvas" resize></canvas>
				<div class="status_bar">
					<div class="profile_pic"></div>
					<div class="username"></div>
				</div>
				<div class="clusters"></div>
				<div class="quest_log"></div>
				<div class="search_bar"></div>
				<div class="info">
					<div class="nameplate"><span id="nameword">Name: </span><span id="nodename">7</span></div>
					<div class="typename"><span id="typename">Jellyfish</span></div>
					<div class="typeicon"><span id="typeicon"></span></div>
					<div class="nodeinfo"></div>
					<div class="typeinfo"></div>
				</div>
				<div class="chat_log"></div>
			</div>
		<% end %>
</body>
