<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Story</title>
	<%= csrf_meta_tags %>
</head>
<body class='play grid_play' id='play'>
	<canvas class="myCanvas" id="myCanvas" resize></canvas>
</body>
