<!DOCTYPE html>
<html lang="en">
<head>
	<title>Font of Data</title>
	<%= csrf_meta_tags %>
</head>
<body class="fod_site grid_home">
<div class="sidenav">
	<p><a href="#">News1</a></p>
	<%= link_to 'New Data node', data_nodes_path(data_node: { value: 1, faction_id: 3 }), method: :post %>
	<p class="text-left">Something about the thing that is the news</p>
	<hr>
	<p><a href="#">News2</a></p>
	<p class="text-left">Something else about a thing that is also the news</p>
	<hr>
	<p><a href="#">News3</a></p>
	<p class="text-left">Ising the been of the thing also which wasing the being as the news</p>
	<hr>
</div>
<div class="main">
	<h1>Font of Data</h1>
	<p>Welcome to Font of Data, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<hr>
	<h3>Test</h3>
	<p>Lorem ipsum...</p>
</div>
<div class="hooks">

</div>
<div class="fod_foot">
	<p style="height: inherit; margin: 0;">Footer text here.</p>
</div>
</body>
