<body class="fod_site">
	<div class="local grid_about">
		<div id="hooks_container">
		</div>
		<div class="page_content" id="content_list">
			<div class="content_item">
				<img class="content_img" src="/assets/42_students.jpg"></img>
				<div class="content_grid">
					<div class='content_text'>
						<br><br><h1>About the Developers</h1><br><br>
						<h4>We are a small team of three students from 42, a coding school in Silicon Valley.</h4><br><br>
						<p>42 teaches coding by giving students projects to complete, and providing them an environment
							where they can find all the resources they need in order to learn how to complete them.
						</p>
					</div>
					<div class='bg_1'></div>
					<div class='bg_2'></div>
					<div class='bg_3'></div>
					<button class='content_dropper noselect' onclick='expand_content(0)'>
						<img class="chev_img" src="assets/icons/028-down-chevron.svg" style="width: 30px;"></img>
					</button>
				</div>
			</div>
			<div class="content_item">
				<img class="content_img" src="/assets/collatz_img.jpg"></img>
				<div class="content_grid">
					<div class='content_text'>
						<br><br><h1>About the Collatz Conjecture</h1><br><br>
						<h4>The Collatz Conjecture is a mathematical problem first proposed in 1937,
							which has fascinated and baffled mathematicians ever since.</h4><br><br>
						<p>Simply put, the Collatz Conjecture states that if you take any number and, if it's even divide it by two
							and if it's odd multiply it by three and add one, then continue applying that rule to every number you reach,
							eventually you will arrive at one.</p>
					</div>
					<div class='bg_1'></div>
					<div class='bg_2'></div>
					<div class='bg_3'></div>
					<button class='content_dropper noselect' onclick='expand_content(1)'>
						<img class="chev_img" src="assets/icons/028-down-chevron.svg" style="width: 30px;"></img>
					</button>
				</div>
			</div><div class="content_item">
				<img class="content_img" src="/assets/collatz_img.jpg"></img>
				<div class="content_grid">
					<div class='content_text'>
						<br><br><h1>About the Collatz Conjecture</h1><br><br>
						<h4>The Collatz Conjecture is a mathematical problem first proposed in 1937,
							which has fascinated and baffled mathematicians ever since.</h4><br><br>
						<p>Simply put, the Collatz Conjecture states that if you take any number and, if it's even divide it by two
							and if it's odd multiply it by three and add one, then continue applying that rule to every number you reach,
							eventually you will arrive at one.</p>
					</div>
					<div class='bg_1'></div>
					<div class='bg_2'></div>
					<div class='bg_3'></div>
					<button class='content_dropper noselect' onclick='expand_content(2)'>
						<img class="chev_img" src="assets/icons/028-down-chevron.svg" style="width: 30px;"></img>
					</button>
				</div>
			</div>
		</div>
		<div class="fod_foot"></div>
	</div>
</body>
