<body class="fod_site">
	<div class="local grid_home">
		<div class="grid_faq">
			<div class="faq_header">
				<h1>Support Center</h1><br>
			</div>
			<div class="faq_nav">
				<div class="faq_link">FAQ</div><hr>
				<div class="faq_link">Report a bug</div><hr>
				<div class="faq_link">Account help</div><hr>
				<div class="faq_link">Contact us</div><hr>
			</div>
			<div class="faq_main">
				<div class="faq_content showing">
					<h1>FAQ</h1><hr>
					<h3>Have a question? Have you had it frequently?</h3>
					<p>Help us make our FAQ! Head over to the contact us section and let us know.</p>
				</div>
				<div class="faq_content">
					<p>Test 2</p>
				</div>
				<div class="faq_content">
					<p>Test 3</p>
				</div>
				<div class="faq_content">
					<p>Test 4</p>
				</div>
			</div>
		</div>
	</div>
</body>
