<body class="fod_site">
	<div class="local home_temp">
		<div class="title">
			<p>Font of Data</p>
		</div>
		<div class="greeting_container">
			<div class="greeting primary Neutral">
				<h1 style="text-align: center;">Welcome to Font of Data!</h1>
				<p>Thank you for joining us during our playtesting phase! Please bear in mind that this game is still
					very much in development, and as you play or look around the site you are sure to run into things
					which aren't implemented, aren't finished, or are just placeholders for something better down the
					line. If you do encounter any issues whose scope seems to extend beyond what's mentioned above, please
					feel free to let us know! We have bug report links and social media pages coming, but for now you can
					drop a message on slack to @mwooden or @palatorr explaining the issue you found and we'll look into it.
					We appreciate your patience as we build this game and site, and thank you again for participating in
					this important stage of development.
				</p>
			</div>
			<div class="tips primary Neutral">
			<h1 style="text-align: center;">Getting Started:</h1>
			<p>• For this first playtest, the three factions are mechanically identical. The special abilities are coming.</p>
			<p>• Click the question mark in the top right to activate tutorial mode.</p>
			</div>
		</div>
		<div class="alerts secondary Neutral">
			<h1 style="text-align: center">Alerts</h1>
			<p>The next patch is not currently scheduled. Patches and maintinence will be announced here a week
				in advance, barring a game-breaking issue which requires an immediate fix.
			</p>
		</div>
	</div>
	<!--
	<div class="local grid_home">
		<div id="hooks_container">
		</div>
		<div class="page_content" id="content_list">
			<div class="content_item" style="height: 500px;">
				<ul id="news_slider">
					<li class="slide showing">Test 1</li>
					<li class="slide">Test 2</li>
					<li class="slide">Test 3</li>
					<li class="slide">Test 4</li>
				</ul>
				<button id="prev_slide" class="slider_button left" onclick="this.blur();">
					<img src="assets/icons/030-left-chevron.svg" style="width: 30px;"></img></button>
				<button id="next_slide" class="slider_button right" onclick="this.blur();">
				<img src="assets/icons/031-right-chevron.svg" style="width: 30px;"></img></button>
			</div>
			<div class="content_item drop">
				<img class="content_img" src="/assets/FoD_img.png"></img>
				<div class="content_grid">
					<div class='content_title'>
						<br><h1>Welcome to Font of Data</h1><br><br>
						<h2>Stake your claim in the Font of Data, blurb blurb</h2>
					</div>
					<div class="content_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class='bg_1'></div>
					<div class='bg_2'></div>
					<div class='bg_3'></div>
					<div class="chev_container"><img class="chev_img" src="assets/icons/028-down-chevron.svg" style="width: 30px;"></img></div>
					<div class='content_dropper noselect'></div>
				</div>
			</div>
			<div class="content_item drop">
				<img class="content_img" src="/assets/kyle-gregory-devaras-241280.jpg"></img>
				<div class="content_grid">
					<div class='content_title'>
						<br><h1>Font of Data</h1><br><br>
					</div>
					<div class="content_text">
						<p>Welcome to Font of Data, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class='bg_1'></div>
					<div class='bg_2'></div>
					<div class='bg_3'></div>
					<div class="chev_container"><img class="chev_img" src="assets/icons/028-down-chevron.svg" style="width: 30px;"></img></div>
					<div class='content_dropper noselect'></div>
				</div>
			</div>
		</div>
	</div>
	-->
	<div class="fod_foot"></div>
</body>

<!--
<div class="sidenav">
<% @news_posts.each do |news_post| %>
<%= link_to news_post.title, news_post %><br>
<%= news_post.body %><br>
<% if current_user.try(:admin?) %>
<%= link_to 'Delete Post', news_post, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>
<hr>
<% end %>
<% if current_user.try(:admin?) %>
<%= link_to 'New Post', new_news_post_path %>
<% end %>
</div>
-->
