<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <!--&lt;!&ndash;<a class="navbar-brand" href="#">Start Bootstrap</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="btn btn-primary" href="#">Sign In</a>&ndash;&gt;-->
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome to Font of Data!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <!--<form>-->
          <!--<div class="form-row">-->
            <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
              <!--<input type="email" class="form-control form-control-lg" placeholder="Enter your email...">-->
            <!--</div>-->
            <!--<div class="col-12 col-md-3">-->
              <!--<button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
        <a href="/play" class="btn btn-outline btn-xl js-scroll-trigger">Play Now for Free!</a>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<!--<section class="features-icons bg-light text-center">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4">-->
        <!--<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">-->
          <!--<div class="features-icons-icon d-flex">-->
            <!--<i class="icon-screen-desktop m-auto text-primary"></i>-->
          <!--</div>-->
          <!--<h3>Fully Responsive</h3>-->
          <!--<p class="lead mb-0">This theme will look great on any device, no matter the size!</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">-->
          <!--<div class="features-icons-icon d-flex">-->
            <!--<i class="icon-layers m-auto text-primary"></i>-->
          <!--</div>-->
          <!--<h3>Bootstrap 4 Ready</h3>-->
          <!--<p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<div class="features-icons-item mx-auto mb-0 mb-lg-3">-->
          <!--<div class="features-icons-icon d-flex">-->
            <!--<i class="icon-check m-auto text-primary"></i>-->
          <!--</div>-->
          <!--<h3>Easy to Use</h3>-->
          <!--<p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row ">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/FoD_img.png');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Cooperative Faction Gameplay</h2>
        <p class="lead mb-0">Join one of three competing factions and expand your influence.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/maths_stock.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Contribute to Mathematical Research</h2>
        <p class="lead mb-0">Help generate data to find patterns within the Collatz conjecture whenever you form a connection in game.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/42_students.jpeg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Developed By a Team of Students at 42</h2>
        <p class="lead mb-0">42 is a tuition-free coding university, with a campus in Silicon Valley. Learn more <a href="http://www.42.us.org">here.</a></p>
      </div>
    </div>
  </div>
</section>

<!-- About Us -->
<section class="testimonials text-center">
  <div class="container">
    <h2 class="mb-5">The Developers:</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <div class="dev_img" style="background-image: url('/assets/mwooden.jpg')"></div>
          <!--<img class="img-fluid rounded-circle mb-3" src="/images/testimonials-1.jpg" alt="">-->
          <h5>Mitchell W.</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <div class="dev_img" style="background-image: url('assets/palatorr.jpg')"></div>
          <!--<img class="img-fluid rounded-circle mb-3" src="/images/testimonials-2.jpg" alt="">-->
          <h5>Pablo A.</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <div class="dev_img" style="background-image: url('assets/ddowty.jpg')"></div>
          <!--<img class="img-fluid rounded-circle mb-3" src="/images/testimonials-3.jpg" alt="">-->
          <h5>Daniel D.</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<!--<section class="call-to-action text-white text-center">-->
  <!--<div class="overlay"></div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xl-9 mx-auto">-->
        <!--<h2 class="mb-4">Ready to get started? Sign up now!</h2>-->
      <!--</div>-->
      <!--<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">-->
        <!--<form>-->
          <!--<div class="form-row">-->
            <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
              <!--<input type="email" class="form-control form-control-lg" placeholder="Enter your email...">-->
            <!--</div>-->
            <!--<div class="col-12 col-md-3">-->
              <!--<button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <!-- <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li> -->
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Font of Data 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>
