<!DOCTYPE html>
<html lang="en">
<head>
	<title>Font of Data</title>
	<%= csrf_meta_tags %>
</head>
<body class="fod_site grid_home">
	<div class="sidenav">
		<div class="follow_link link_fb"><p>Facebook</p></div>
		<div class="follow_link link_tw"><p>Twitter</p></div>
		<div class="follow_link link_3"><p>Link 3</p></div>
		<div class="follow_link link_4"><p>Link 4</p></div>
		<div class="follow_link link_5"><p>Link 5</p></div>
	</div>
	<div class="main">
		<h3>Question 1?</h3>
		<p>Answer to that question.</p>
		<hr>
		<h3>Question 2?</h3>
		<p>Answer to that question.</p>
		<hr>
		<h3>Question 3?</h3>
		<p>Answer to that question.</p>
		<hr>
		<h3>Question 4?</h3>
		<p>Answer to that question.</p>
		<hr>
		<h3>Question 5?</h3>
		<p>Answer to that question.</p>
		<hr>
		<h3>Question 6?</h3>
		<p>Answer to that question.</p>
		<hr>
	</div>
</body>

</html>