<body class="fod_site grid_home">
	<div class="sidenav">
		<div class="follow_link link_fb"><p>Facebook</p></div>
		<div class="follow_link link_tw"><p>Twitter</p></div>
		<div class="follow_link link_3"><p>Link 3</p></div>
		<div class="follow_link link_4"><p>Link 4</p></div>
		<div class="follow_link link_5"><p>Link 5</p></div>
	</div>
	<div class="main"> 
		<h1>About Us</h1>
		<p>We are a small team of Lorem ipsum dolor 42 amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<hr>
		<h3>Test</h3>
		<p>Lorem ipsum...</p>
	</div>	
	<div class="fod_foot">
		<p style="margin-top: 1rem;">Footer text here.</p>
	</div>
</body>