// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid_about {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 27fr 8fr;
	grid-template-rows: [top_margin] 1fr [main] 22fr;
	grid-template-areas:
	". . hooks"
	". page_content hooks";
}
