
.faq_select {
	width: 100%;
	height: 9%;
	border: solid;
	margin-bottom: 10px;
	background-color: lightgray;
	border-color: darkgray;
	transition: 200ms ease-in-out;
}

.faq_select:hover {
	background-color: darkgray;
	border-color: gray;
}

