.html {
	height: 100%;
}
.body {
	height: 100%;
}

.grid_home {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 2fr 26fr 2fr 9fr 1fr;
	grid-template-rows: [top_margin] 2fr [main] 31fr [bot_margin] 2fr [foot] 2fr;
	grid-template-areas:
		". . . . . . ."
		". sidenav . main . hooks ."
		". . . . . . ."
		"foot foot foot foot foot foot foot";
}

.row.content {
	margin-left: 4px;
	margin-right: 4px;
	height: 530px
}

.main {
	grid-column: 4/5;
	grid-row-start: main;
	grid-row-end: bot_margin;
}

.hooks {
	grid-area: hooks;
	grid-row: main/bot_margin;
	background-color: rgba(27, 82, 153, .75);
	border: 2px solid rgba(9, 4, 70, .75);
}

.sidenav {
	grid-area: sidenav;
	padding: 10px;
	padding-top: 20px;
	background-color: #f1f1f1;
	border-radius: 1px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
.fod_foot {
	height:100%;
	width: 100%;
	grid-area: foot;
	align-self: center;
	justify-self: center;
	text-align: center;
	background-color: rgba(185, 214, 242, .75);
}

.fod_site {
	height: 100%;
	width: 100%;
	background: image_url("background_img.jpg") no-repeat center center fixed;
	background-size: 100%;
	transform: translateZ(0);
}

/* unhighlightable text */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}
