.html {
	height: 100%;
}
.body {
	height: 100%;
}

.grid_home {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 2fr 26fr 2fr 9fr 1fr;
	grid-template-rows: [topnav] 2fr [top_margin] 1fr [main] 30fr [bot_margin] 1fr [foot] 2fr;
	grid-template-areas:
		"topnav topnav topnav topnav topnav topnav topnav"
		". . . . . . ."
		". sidenav . main . hooks ."
		". . . . . . ."
		"foot foot foot foot foot foot foot";
}

.nav_link {
	text-decoration: none;
}

.container.topnav {
	justify-items: center;
	align-items: center;
	max-width: 100%;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	grid-area: topnav;
	display: grid;
	background-color: rgba(9, 4, 70, .75);
	color: #B9D6F2;
	grid-template-columns: [brand] 8fr [play] 4fr [world] 4fr [about] 4fr [faq] 4fr [leaderboard] 24fr [account] 8fr;
}

.nav_hover:hover {
	background-color: rgba(27, 82, 153, .75);
}

.nav_hover {
	cursor: pointer;
	height: 100%;
	width: 100%;
	text-align: center;
	border-radius: 1px;
	transition: all 150ms ease-in-out;
}

.nav_link {
	text-decoration: none;
}

.show.fod_drop {
	background-color: rgba(27, 82, 153, .75);
	border-color: #090446;
}

.row.content {
	margin-left: 4px;
	margin-right: 4px;
	height: 530px
}

.main {
	grid-column: 4/5;
	grid-row-start: main;
	grid-row-end: bot_margin;
}

.hooks {
	grid-area: hooks;
	grid-row: main/bot_margin;
	background-color: rgba(27, 82, 153, .75);
	border: 2px solid rgba(9, 4, 70, .75);
}

.sidenav {
	grid-area: sidenav;
	padding: 10px;
	padding-top: 20px;
	background-color: #f1f1f1;
	border-radius: 1px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	} 
}
.fod_foot {
	grid-area: foot;
	padding-left: 3%;
	align-items: center;
	background-color: rgba(185, 214, 242, .75);
}

.fod_site {
	height: 100%;
	background: image_url("background_img.jpg") no-repeat center center fixed;
	background-size: 100%;
	transform: translateZ(0);
}

/* unhighlightable text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
