
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.global_grid {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: [all] 100%;
	grid-template-areas:
		"topnav"
		"local";
}

.alert_wrap {
	color: white;
	padding: 0px 50px;
	margin-top: 3px;
	height: 5%;
	background-color: rgba(255, 0, 0, .3);
	border: 3px solid red;
	grid-row-start: 2;
	justify-self: center;
}

#alert_box {
  position: relative;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.local {
	position: absolute;
	grid-area: local;
}

.container.topnav {
	position: absolute;
	justify-items: center;
	align-items: center;
	font-size: 1.6rem;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	grid-area: topnav;
	display: grid;
	background-color: rgba(9, 4, 70, .75);
	color: #B9D6F2;
	grid-template-columns: [brand] 8fr [play] 4fr [world] 4fr [about] 4fr [faq] 4fr [leaderboard] 24fr [account] 8fr;
	z-index: 10;
}

.nav_hover:hover {
	background-color: rgb(27, 82, 153);
}

.nav_hover {
	position: absolute;
	background-color: rgba(9, 4, 70, 0.0);
	text-align: center;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 100%;
	width: 100%;
	border-radius: 1px;
	transition: all 150ms ease-in-out;
}

.fod_drop {
	position: relative;
	top: 100%;
	display: none;
	background-color: rgb(27, 82, 153);
	border-color: #090446;
}

.show.fod_drop {
	display: block;
}

button {
	padding: 0px;
	border-style: none;
}

.nav_button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav_link {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none !important;
}

.nav_brand {
	text-decoration: none !important;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.nav_ele {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
