
html {
	height: 100%;
}

span {
	white-space: pre;
}

.bg_play {
	width: 100%;
	background-size: cover;
}

.wrap {
	width: 100%;
	height: 100%;
}

body.play {
	height: 100%;
	left: 2.5%;
	background-color: white;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	transform: translateZ(0);
}

.play_grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 7fr 6fr 1fr 13fr 8fr 6fr;
	grid-template-rows: 40px 19fr 1fr 2fr 10fr;
	grid-template-areas:
		"stat-bar stat-bar stat-bar stat-bar stat-bar stat-bar"
		". . . . . ."
		"clusters . . . tabs tabs"
		"search search . . quests quests"
		"info info info actionbar quests quests";
	font-size: .75rem;
	z-index: 1;
}

.connection_pane {
	display: flex;
	position: absolute;
	top: 10vh;
	left: calc((100vw - 80vmin) / 2);
	height: 80%;
	width: 80vmin;
	-webkit-align-self: center;
	align-self: center;
	border-radius: 3%;
	border: solid 2px rgba(0, 123, 255, 0.8);
	background-color: rgba(128, 189, 255, 0.8);
	z-index: 5;
}

rect {
	fill: none;
	pointer-events: all;
	z-index: 10;
}

circle {
	fill: none;
	stroke-width: 2.5px;
	z-index: 10;
}

.tabs {
	grid-area: tabs;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 10px 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		". quest_tab chat_tab .";
}

.quest_tab {
	grid-area: quest_tab;
	width: 96%;
	align-items: center;
	justify-items: center;
	text-align: center;
	font-size: .9rem;
	border: 2px solid;
	border-radius: 10px 10px 0px 0px;
	margin: 0px 0px -2px 0px;
	z-index: 3;
}

.chat_tab {
	grid-area: chat_tab;
	width: 96%;
	border-style: solid;
	align-items: center;
	justify-items: center;
	text-align: center;
	font-size: .9rem;
	border-width: 2px 2px 0 2px;
	border-radius: 10px 10px 0 0;
	margin: 0px 0px -2px 0px;
	z-index: 3;
}

.myCanvas {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.status_bar {
	grid-area: stat-bar;
	background-color: rgba(0, 66, 153, 0.65);
	border: 0 solid #004299;
	border-bottom-width: 2px;
	display: grid;
	grid-template-columns: 3fr 34px 1fr 12fr 100fr;
	grid-template-rows: 3px 34px 3px;
	grid-template-areas:
		". . . . ."
		". profile_pic . username ."
		". . . . .";
	z-index: 2;
	font-size: 1rem;
}

.profile_pic {
	grid-area: profile_pic;
	background-size: 100%;
	overflow: none;
	border-radius: 3px;
	z-index: 3;
}

.username {
	grid-area: username;
	align-self: center;
	justify-self: center;
}

.clusters {
	grid-area: clusters;
	display: none;
	z-index: 2;
}

.search_bar {
	grid-area: search;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
	background-color: rgba(153, 153, 153, .85);
	border-color: #004299;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	z-index: 2;
}

#info_pane {
	position: relative;
	grid-area: info;
	display: grid;
	background-color: rgba(27, 70, 107, 0.65);
	border-color: #094074;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	grid-template-columns: 1fr 10fr 1fr 8fr 48px;
	grid-template-rows: 48px auto;
	grid-template-areas:
		". nameplate . faction_name faction_icon"
		". nodeinfo . cluster_info cluster_info";
	z-index: 2;
}

.nameplate {
	grid-area: nameplate;
	display: flex;
	font-size: 2vw;
	flex-flow: row nowrap;
	align-self: center;
}

span#nameword {
	width: 40%;
	display: block;
	font-weight: 300;
}

span#nodename {
	width: 60%;
	display: block;
	text-align: center;
	font-weight: 400;
}

.faction_name {
	justify-self: center;
	align-self: center;
	grid-area: faction_name;
	font-size: 2vw;
	font-weight: 300;
}

#faction_icon_bg {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background-color: #BCDEFF;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 1;
}
#faction_icon_n {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/032-cone.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}
#faction_icon_r {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-red_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}
#faction_icon_g {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-green_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}
#faction_icon_b {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-blue_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

.nodeinfo {
	grid-area: nodeinfo;
	display: grid;
	line-height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"field_owner"
	"field_tier"
	"field_function"
	"field_connections"
	"field_value"
	"field_contention"
}

.cluster_info {
	grid-area: cluster_info;
	margin: 4px -2px 0px 4px;
	border-radius: 10% 10% 0% 0%;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
}

.chat_pane {
	grid-area: quests;
	border-style: solid;
	overflow: hidden;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0px 0px 0px;
	z-index: 2;
}

.chat_frame {
	height: 80%;
	width: 95%;
	margin: 8px 8px 0px 8px;
	overflow: hidden;
	border-radius: 3px;
}

.card {
	background-color: rgba(0, 0, 0, 0) !important;
}

.form-group {
	grid-area: form;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.form-control {
	margin-top: 3px;
	height: 25px;
	width: 95% !important;
}

.quest_pane {
	grid-area: quests;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0px 0px 0px;
	z-index: 2;
}

.quest_li {

}
