
html {
	height: 100%;
}

span {
	white-space: pre;
}

.bg_play {
	width: 100%;
	background-size: cover;
}

.wrap {
	width: 100%;
	height: 100%;
}

body.play {
	height: 100%;
	left: 2.5%;
	background-color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	transform: translateZ(0);
}

.play_grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 7fr 6fr 1fr 13fr 8fr 6fr;
	grid-template-rows: 54px 19fr 2fr 3fr 8fr;
	grid-template-areas:
		"stat-bar stat-bar stat-bar stat-bar stat-bar stat-bar"
		". . . . . ."
		"clusters . . . tabs tabs"
		"search search . . quests quests"
		"info info info . quests quests";
	z-index: 1;
}

.tabs {
	grid-area: tabs;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 10px 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		". quest_tab chat_tab .";
}

.quest_tab {
	grid-area: quest_tab;
	width: 96%;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
	border-radius: 10px 10px 0px 0px;
	margin: 0px 0px -2px 0px;
	z-index: 3;
}

.chat_tab {
	grid-area: chat_tab;
	border-style: solid;
	width: 96%;
	border-width: 2px 2px 2px 2px; //bottom border for deselected tab
	border-radius: 10px 10px 0px 0px;
	margin: 0px 0px -2px 0px;
	z-index: 3;
}

.myCanvas {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.status_bar {
	grid-area: stat-bar;
	background-color: rgba(0, 66, 153, 0.65);
	border-color: #004299;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	display: grid;
	grid-template-columns: 1fr 48px 2fr 12fr 100fr;
	grid-template-rows: 3px 48px 3px;
	grid-template-areas:
		". . . . ."
		". profile_pic . username ."
		". . . . .";
	z-index: 2;
}

.profile_pic {
	grid-area: profile_pic;
	overflow: hidden;
	border-radius: 3px;
	z-index: 3;
}

.username {
	grid-area: username;
	align-self: center;
	justify-self: center;
}

.clusters {
	grid-area: clusters;
	display: none;
	z-index: 2;
}

.search_bar {
	grid-area: search;
	background-color: rgba(153, 153, 153, .85);
	border-color: #004299;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	z-index: 2;
}

#info_pane {
	position: relative;
	grid-area: info;
	display: grid;
	background-color: rgba(27, 70, 107, 0.65);
	border-color: #094074;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	grid-template-columns: 1fr 10fr 1fr 8fr 48px;
	grid-template-rows: 48px auto;
	grid-template-areas:
		". nameplate . faction_name faction_icon"
		". nodeinfo . cluster_info cluster_info";
	z-index: 2;
}

.nameplate {
	grid-area: nameplate;
	display: flex;
	font-size: 2vw;
	flex-flow: row nowrap;
	align-self: center;
}

span#nameword {
	width: 40%;
	display: block;
	font-weight: 300;
}

span#nodename {
	width: 60%;
	display: block;
	text-align: center;
	font-weight: 400;
}

.faction_name {
	justify-self: center;
	align-self: center;
	grid-area: faction_name;
	font-size: 2vw;
	font-weight: 300;
}

.faction_icon {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
}

.nodeinfo {
	grid-area: nodeinfo;
}

.cluster_info {
	grid-area: cluster_info;
	margin: 4px -2px 0px 4px;
	border-radius: 10% 10% 0% 0%;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
}

.chat_pane {
	grid-area: quests;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0px 0px 0px;
	z-index: 2;
}

.quest_pane {
	grid-area: quests;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0px 0px 0px;
	z-index: 2;
}
