
html {
	height: 100%;
	font-size: 62.5%;
}

span {
	white-space: pre-wrap;
}

.bg_play {
	width: 100%;
	background-size: cover;
}

.wrap {
	width: 100%;
	height: 100%;
}

body.play {
	height: 100%;
	left: 2.5%;
	background-color: white;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	line-height: 1.1;
	transform: translateZ(0);
}

.Rocks.primary {
	background-color: #2D0505;
	border-color: #FF8300;
	color: #FAF9F9;
}
.Rocks.secondary {
	background-color: #7F0812;
	border-color: #FF8300;
	color: #FAF9F9;
}
.Rocks.tertiary {
	background-color: #2D0505;
	border-color: #FAF9F9;
	color: #FAF9F9;
}
.Elves.primary {
	background-color: #352E09;
	border-color: #40ED4B;
	color: #FFFFD8;
}
.Elves.secondary {
	background-color: #588401;
	border-color: #40ED4B;
	color: #FFFFD8;
}
.Elves.tertiary {
	background-color: #352E09;
	border-color: #FFFFD8;
	color: #FFFFD8;
}
.Jellyfish.primary {
	background-color: #094074;
	border-color: #E2E544;
	color: #C9F0FF;
}
.Jellyfish.secondary {
	background-color: #2188DD;
	border-color: #E2E544;
	color: #C9F0FF;
}
.Jellyfish.tertiary {
	background-color: #094074;
	border-color: #C9F0FF;
	color: #C9F0FF;
}

.play_grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 13fr 13fr 13fr;
	grid-template-rows: 40px 24fr 5fr 5fr;
	grid-template-areas:
	"stat-bar stat-bar stat-bar"
	". tutorial_help ."
	"info hotkey_help chat"
	"info hotkey_help chat";
	// grid-template-columns: 11fr 2fr 1fr 14fr 10fr;
	// grid-template-rows: 40px 12fr 7fr 1fr 4fr 5fr 5fr;
	// grid-template-areas:
	// "stat-bar stat-bar stat-bar stat-bar stat-bar"
	// ". . . . ."
	// ". . . . minimap"
	// "search . . . minimap"
	// "info . . . minimap"
	// "chat chat chat actionbar minimap"
	// "chat chat chat actionbar minimap";
	font-size: 1.2rem;
	z-index: 1;
}

.minimap_container {
	grid-area: minimap;
	display: flex;
	flex-flow: column-reverse;
}

#minimap {
	width: 100%;
	border-width: 2px 0 0 2px;
	border-style: solid;
	z-index: 2;
}

#second_map {
	width: 60%;
	align-self: flex-end;
	border-width: 2px 0 0 2px;
	border-style: solid;
	z-index: 2;
}

.globalWrap {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.hoverable {
	pointer-events: auto !important;
}

.tutorial_ui {
	position: absolute;
	display: block;
	pointer-events: none;
	border: solid 2px;
	border-radius: 6px;
	text-align: center;
	z-index: 10;
}

#hotkey_help {
	grid-area: hotkey_help;
	height: 65px;
	width: 236px;
	border-radius: 12px 12px 12px 12px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	padding: 4px 5% 0 5%;
	text-align: center;
	z-index: 3;
	margin-bottom: -50px;
	justify-self: center;
	align-self: center;
}
#tutorial_help {
	grid-area: tutorial_help;
	height: 40px;
	width: 212px;
	margin: 8px 0 0 0;
	border-radius: 12px 12px 12px 12px;
	border-width: 1px;
	border-style: solid;
	padding: 4px 0 0 0;
	text-align: center;
	z-index: 3;
	justify-self: center;
}

.myForm {
	position: absolute;
	pointer-events: auto;
	display: flex;
	flex-flow: column nowrap;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	height: auto;
	width: 150px;
}

input {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	position: relative;
	width: 100%;
}
input:focus {
	outline: none;
}
.myButton {
	position: absolute;
	pointer-events: auto;
	display: block;
	cursor: pointer;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.8);
	border-width: 3px;
	background-color: #c0c0c0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	z-index: 4;
	-webkit-transition: transform 400ms;
	-moz-transition: transform 400ms;
	-o-transition: transform 400ms;
	transition: transform 400ms;
	transform-origin: center center;
}

.myButton:hover {
	transform: scale(1.4, 1.4);
}

.myCanvas {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.status_bar {
	grid-area: stat-bar;
	background-color: rgba(0, 66, 153, 0.65);
	border: 0 solid #004299;
	border-bottom-width: 2px;
	display: grid;
	grid-template-columns: 3fr 34px 1fr 12fr 50fr 2fr 6fr 2fr 4fr 5fr;
	grid-template-rows: 3px 34px 3px;
	grid-template-areas:
	". . . . . . . . . ."
	". profile_pic . username . packet_img packet_field key_img key_field help_button"
	". . . . . . . . . .";
	z-index: 2;
	font-size: 1.6rem;
}
#packet_img {
	grid-area: packet_img;
	z-index: 3;
}
#key_img {
	grid-area: key_img;
	z-index: 3;
}
#help_button {
	grid-area: help_button;
	cursor: pointer;
	z-index: 3;
}
.profile_pic {
	grid-area: profile_pic;
	background-size: 100%;
	overflow: hidden;
	border-radius: 3px;
	z-index: 3;
}
.username {
	grid-area: username;
	align-self: center;
	justify-self: center;
}
.key_field {
	grid-area: key_field;
	padding-left: 8px;
	align-self: center;
	justify-self: left;
}
.packet_field {
	grid-area: packet_field;
	padding-left: 8px;
	align-self: center;
	justify-self: left;
}

.clusters {
	grid-area: clusters;
	display: none;
	z-index: 2;
}

.search_bar {
	grid-area: search;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
	padding-left: 2%;
	background-color: rgba(153, 153, 153, .85);
	border-color: #004299;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	z-index: 2;
}
.search_elem {
	resize: none;
	width: 96%;
	justify-self: center;
	align-self: center;
}

#info_pane {
	position: relative;
	grid-area: info;
	display: grid;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	grid-template-columns: 1fr 10fr 1fr 8fr 40px;
	grid-template-rows: 40px auto;
	grid-template-areas:
	". nameplate . faction_name faction_icon"
	". nodeinfo nodeinfo nodeinfo nodeinfo";
	z-index: 2;
}

.nameplate {
	grid-area: nameplate;
	display: flex;
	font-size: 2vw;
	flex-flow: row nowrap;
	align-self: center;
}

span#nameword {
	width: 40%;
	display: block;
	font-weight: 300;
}

span#nodename {
	width: 60%;
	display: block;
	text-align: center;
	font-weight: 400;
}

.faction_name {
	justify-self: center;
	align-self: center;
	grid-area: faction_name;
	font-size: 2vw;
	font-weight: 300;
}

#faction_icon_bg {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 1;
}

#faction_icon_n {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/032-cone.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_r {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-red_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_g {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-green_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_b {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-blue_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

.nodeinfo {
	grid-area: nodeinfo;
	display: grid;
	line-height: 100%;
	padding: 3%;
	border-radius: 8px 8px 0 0;
	margin-right: 6px;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"field_owner field_connections"
	"field_tier field_value"
	"field_function field_contention"
}

.cluster_info {
	grid-area: cluster_info;
	margin: 4px -2px 0px 4px;
	border-radius: 10% 10% 0% 0%;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
}

#chat_pane {
	grid-area: chat;
	border-style: solid;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0 0 0;
	z-index: 2;
}

.chat_frame {
	height: 95%;
	width: 95%;
	margin-top: 8px;
	overflow: hidden;
	border-radius: 3px;
}

.card {
	background-color: rgba(0, 0, 0, 0) !important;
}

.form-group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 1% 0 1% 0 !important;
}

.form-control {
	margin-top: 3px;
	height: 25px;
}

#actionbar {
	grid-area: actionbar;
	clear: left;
	z-index: 3;
	position: relative;
	display: grid;
	overflow: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 6fr 2fr 4fr;
	grid-template-areas:
	"popup"
	"prompt"
	"buttons";
}

.action_button_container {
	height: 100%;
	width: 95%;
	padding: 2px;
	border: 2px solid;
	z-index: 2;
}

.action_button {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 3;
	pointer-events: all;
}

.actionbar_bg {
	width: 100%;
	height: 100%;
	grid-area: buttons;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 2px solid;
	position: absolute;
	z-index: 1;
}
#actionbar_prompt{
	grid-area: prompt;
	text-align: center;
	border-top-width: 2px;
	border-top-style: solid;
	font-size: 1.3rem;
}
.button4_textarea {
	grid-area: popup;
	resize: none;
	height: 90%;
}

#window_container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10% 20% 5% 20%;
	pointer-events: none;
	z-index: 4;
}

.info_window {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border: 3px solid;
	display: grid;
	pointer-events: all;
	grid-template-rows: 1fr 2fr 1fr 1fr 6fr;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-areas:
	". node_icon node_icon exit_button"
	"faction_icon node_icon node_icon assignment_icon"
	"faction_icon owner owner assignment_icon"
	"time_owned cluster cluster assignment_tier"
	"combat combat cluster_pane cluster_pane"
}
.window_exit_button {
	grid-area: exit_button;
	height: 25px;
	width: 25px;
	justify-self: flex-end;
	background-image: image_url('icons/011-close.svg');
}
.info_node_icon {
	grid-area: node_icon;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_faction_icon {
	grid-area: faction_icon;
	display: flex;
	align-items: center;
	justify-content: center;
}
#info_faction_icon_n {
	border-radius: 50%;
	height: 100%;
	border: 4px solid #004299;
	overflow: hidden;
	background: image_url('icons/placeholder.svg');
}
#info_faction_icon_r {
	border-radius: 50%;
	height: 100%;
	border: 4px solid #FF8300;
	overflow: hidden;
	background: image_url('icons/placeholder-red_faction_icon.svg');
}
#info_faction_icon_g {
	border-radius: 50%;
	height: 100%;
	border: 4px solid #40ED4B;
	overflow: hidden;
	background: image_url('icons/placeholder-green_faction_icon.svg');
}
#info_faction_icon_b {
	border-radius: 50%;
	height: 100%;
	border: 4px solid #E2E544;
	overflow: hidden;
	background: image_url('icons/placeholder-blue_faction_icon.svg');
}
.info_assignment_icon {
	grid-area: assignment_icon;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_owner {
	grid-area: owner;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.info_cluster {
	grid-area: cluster;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.info_time_owned {
	grid-area: time_owned;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.info_assignment_tier {
	grid-area: assignment_tier;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.info_contention {
	grid-area: contention;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.info_cluster_frame {
	grid-area: cluster_pane;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.assignment_icon {
	border-radius: 50%;
	height: 100%;
	border: 4px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: absolute;
}
#assignment_icon_bg {
	border: 4px solid;
	position: relative;
}
#node_icon_holder {
	border-radius: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid;
}
.info_combat_frame {
	grid-area: combat;
	display: flex;
	align-items: center;
	justify-content: center;
}
#info_combat_pane {
	width: 90%;
	height: 90%;
	border-radius: 10px;
	border: 2px solid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"contention_tag contention"
	". ."
	"placeholder_tag placeholder_tag"
	". ."
	". ."
}
#info_cluster_pane {
	width: 90%;
	height: 90%;
	border-radius: 10px;
	border: 2px solid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	". ."
	". ."
	"placeholder_tag placeholder_tag"
	". ."
	". ."
}
.placeholder_tag {
	grid-area: placeholder_tag;
	text-align: center;
}

#quest_window {
	width: 100%;
	height: 80%;
	padding: 0 5% 5% 5%;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	text-align: center;
}
#quest_pane {
	width: 100%;
	height: 90%;
	padding: 0 1.5% 0 1.5%;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
}
.quest_item {
	width: 100%;
	height: 80px;
	border: 2px solid;
	border-radius: 5px;
	padding: 2%;
	text-align: left;
}

.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 0.95;
	stroke-width: 2.3px;
}

.hidden {
	display: none !important;
}

.connection_pane {
	display: none;
	position: absolute;
	pointer-events: auto;
	top: 10vh;
	left: calc(50vw - 40vmin);
	height: 80%;
	width: 80vmin;
	-webkit-align-self: center;
	align-self: center;
	border-radius: 3%;
	border: solid 2px #444;
	background-color: #DDD;
	color: #444;
	z-index: 5;
}

svg {
	display: block;
	border-radius: 3%;
	height: 100%;
	width: 100%;
}

.node circle {
	fill: #FFF;
}

.node text {
	font: 12px sans-serif;
	font-weight: 600;
}

.node--start circle {
	fill: #FFDF00;
}

.node--explored circle {
}

.node--one circle {
	fill: #000;
}

.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 1.0;
	stroke-width: 2.3px;
}

.tab_title {
	position: absolute;
	width: 90%;
	left: 5%;
	text-align: center;
	font: 600 26px sans-serif;
}

/* Tooltips */
.tooltip {
	width: 70px;
	height: 20px;
	border: 2px solid;
	pointer-events: none;
	position: absolute;
	left: 50%;
	top: -120%;
	text-decoration: none;
	z-index: 6;
}
/* Tooltip colors */
.red {
	background-color: rgba(127, 8, 18, .75);
	border-color: rgba(127, 8, 18, .75);
	color: #FAF9F9
}
.green {
	background-color: rgba(88, 132, 1, .75);
	border-color: rgba(88, 132, 1, .75);
	color: #FFFFD8
}
.blue {
	background-color: rgba(33, 136, 221, .75);
	border-color: rgba(33, 136, 221, .75);
	color: #C9F0FF
}
.neutral {
	background-color: rgba(27, 70, 107, .75);
	border-color: rgba(27, 70, 107, .75);
	color: #BCDEFF
}
