
html {
	height: 100%;
	font-size: 62.5%;
}

span {
	white-space: pre;
}

.bg_play {
	width: 100%;
	background-size: cover;
}

.wrap {
	width: 100%;
	height: 100%;
}

body.play {
	height: 100%;
	left: 2.5%;
	background-color: white;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	transform: translateZ(0);
}

.play_grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 11fr 2fr 1fr 14fr 10fr;
	grid-template-rows: 40px 12fr 7fr 1fr 4fr 5fr 5fr;
	grid-template-areas:
	"stat-bar stat-bar stat-bar stat-bar stat-bar"
    ". . . . ."
	". . . . minimap"
	"search . . . minimap"
	"info . . . minimap"
	"chat chat chat actionbar minimap"
	"chat chat chat actionbar minimap";
	font-size: 1.2rem;
	z-index: 1;
}

.minimap_container {
  grid-area: minimap;
  display: flex;
  flex-flow: column-reverse;
}

#minimap {
  width: 100%;
  border-width: 2px 0 0 2px;
  border-style: solid;
  z-index: 2;
}

#second_map {
  width: 60%;
  align-self: flex-end;
  border-width: 2px 0 0 2px;
  border-style: solid;
  z-index: 2;
}

.globalWrap {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.myButton {
	position: absolute;
	pointer-events: auto;
	display: block;
	cursor: pointer;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.8);
	border-width: 3px;
	background-color: #c0c0c0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	border-radius: 50%;
	z-index: 4;
	-webkit-transition: transform 400ms;
	-moz-transition: transform 400ms;
	-o-transition: transform 400ms;
	transition: transform 400ms;
}

.myButton:hover {
	transform: scale(1.4, 1.4);
}

.myCanvas {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.status_bar {
	grid-area: stat-bar;
	background-color: rgba(0, 66, 153, 0.65);
	border: 0 solid #004299;
	border-bottom-width: 2px;
	display: grid;
	grid-template-columns: 3fr 34px 1fr 12fr 80fr 10fr 10fr;
	grid-template-rows: 3px 34px 3px;
	grid-template-areas:
	". . . . . . ."
	". profile_pic . username . packet_field key_field"
	". . . . . . .";
	z-index: 2;
	font-size: 1.6rem;
}

.profile_pic {
	grid-area: profile_pic;
	background-size: 100%;
	overflow: hidden;
	border-radius: 3px;
	z-index: 3;
}

.username {
	grid-area: username;
	align-self: center;
	justify-self: center;
}

.key_field {
  grid-area: key_field;
  align-self: center;
  justify-self: center;
}

.packet_field {
  grid-area: packet_field;
  align-self: center;
  justify-self: center;
}

.clusters {
	grid-area: clusters;
	display: none;
	z-index: 2;
}

.search_bar {
	grid-area: search;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
    padding-left: 2%;
	background-color: rgba(153, 153, 153, .85);
	border-color: #004299;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	z-index: 2;
}
.search_elem {
  resize: none;
  width: 96%;
  justify-self: center;
  align-self: center;
}

#info_pane {
	position: relative;
	grid-area: info;
	display: grid;
	background-color: rgba(27, 70, 107, 0.65);
	border-color: #094074;
	border-style: solid;
	border-width: 2px 2px 0px 0px;
	border-radius: 0px 12px 0px 0px;
	grid-template-columns: 1fr 10fr 1fr 8fr 40px;
	grid-template-rows: 40px auto;
	grid-template-areas:
	". nameplate . faction_name faction_icon"
	". nodeinfo nodeinfo nodeinfo .";
	z-index: 2;
}

.nameplate {
	grid-area: nameplate;
	display: flex;
	font-size: 2vw;
	flex-flow: row nowrap;
	align-self: center;
}

span#nameword {
	width: 40%;
	display: block;
	font-weight: 300;
}

span#nodename {
	width: 60%;
	display: block;
	text-align: center;
	font-weight: 400;
}

.faction_name {
	justify-self: center;
	align-self: center;
	grid-area: faction_name;
	font-size: 2vw;
	font-weight: 300;
}

#faction_icon_bg {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background-color: #BCDEFF;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 1;
}

#faction_icon_n {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/032-cone.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_r {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-red_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_g {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-green_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

#faction_icon_b {
	grid-area: faction_icon;
	margin: 4px;
	overflow: hidden;
	border-radius: 50%;
	border-style: solid;
	border-color: #094074;
	border-width: 2px;
	background: image_url('icons/placeholder-blue_faction_icon.svg');
	display: none;
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 2;
}

.nodeinfo {
	grid-area: nodeinfo;
	display: grid;
	line-height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"field_owner"
	"field_tier"
	"field_function"
	"field_connections"
	"field_value"
	"field_contention"
}

.cluster_info {
	grid-area: cluster_info;
	margin: 4px -2px 0px 4px;
	border-radius: 10% 10% 0% 0%;
	border-style: solid;
	border-width: 2px 2px 0px 2px;
}

.chat_pane {
	grid-area: chat;
	border-style: solid;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	border-width: 2px 2px 0px 0px;
	border-radius: 0 12px 0 0;
	z-index: 2;
}

.chat_frame {
	height: 95%;
	width: 95%;
	margin-top: 8px;
	overflow: hidden;
	border-radius: 3px;
}

.card {
	background-color: rgba(0, 0, 0, 0) !important;
}

.form-group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 1% 0 1% 0 !important;
}

.form-control {
	margin-top: 3px;
	height: 25px;
}

.quest_pane {
	grid-area: quests;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
	border-radius: 12px 0px 0px 0px;
	z-index: 2;
}

.quest_li {

}

#actionbar {
	grid-area: actionbar;
	clear: left;
	z-index: 3;
	position: relative;
	display: grid;
	overflow: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 6fr 2fr 4fr;
	grid-template-areas:
	"popup"
	"prompt"
	"buttons";
}

.action_button_container {
	height: 100%;
	width: 95%;
	padding: 2px;
	border: 2px solid;
	z-index: 2;
}

.action_button {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 3;
	pointer-events: all;
}

.actionbar_bg {
	width: 100%;
	height: 100%;
	grid-area: buttons;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 2px solid;
	position: absolute;
	z-index: 1;
}
#actionbar_prompt{
	grid-area: prompt;
	text-align: center;
	border-top: 2px solid;
	font-size: 1.3rem;
}
.button4_textarea {
	grid-area: popup;
	resize: none;
	height: 90%;
}

#window_container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10%;
	pointer-events: none;
	z-index: 4;
}

.info_window {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border: 3px solid;
	display: grid;
	pointer-events: all;
	grid-template-rows: 1fr 2fr 1fr 1fr 6fr;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-areas:
	". node_icon node_icon exit_button"
	"faction_icon node_icon node_icon assignment_icon"
	"faction_icon owner owner assignment_icon"
	"time_owned cluster cluster assignment_power"
	"contention contention connections connections"
}
.window_exit_button {
	grid-area: exit_button;
	height: 25px;
	width: 25px;
	justify-self: flex-end;
	background-image: image_url('icons/011-close.svg');
}
.info_node_icon {
	grid-area: node_icon;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_faction_icon {
	grid-area: faction_icon;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_assignment_icon {
	grid-area: assignment_icon;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_owner {
	grid-area: owner;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_cluster {
	grid-area: cluster;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_time_owned {
	grid-area: time_owned;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_assignment_power {
	grid-area: assignment_power;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_contention {
	grid-area: contention;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info_connections {
	grid-area: connections;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.node_icon_holder {
	border-radius: 50%;
	height: 100%;
	border: 2px solid black;
}

.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 0.95;
	stroke-width: 2.3px;
}

.hidden {
	display: none !important;
}

.connection_pane {
	display: none;
	position: absolute;
	top: 10vh;
	left: calc(50vw - 40vmin);
	height: 80%;
	width: 80vmin;
	-webkit-align-self: center;
	align-self: center;
	border-radius: 3%;
	border: solid 2px #444;
	background-color: #DDD;
	color: #444;
	z-index: 5;
}

svg {
	display: block;
	position: absolute;
	border-radius: 3%;
	height: 100%;
	width: 100%;
}

.node circle {
	fill: #FFF;
}

.node text {
	font: 12px sans-serif;
	font-weight: 600;
	color: #444;
	text-shadow: 0 2px 0 #DDD,
	0 -2px 0 #DDD,
	2px 0 0 #DDD,
	-2px 0 0 #DDD;
}

.node--start circle {
	fill: #FFDF00;
}

.node--explored circle {
}

.node--one circle {
	fill: #000;
}

.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 1.0;
	stroke-width: 2.3px;
}

.tab_title {
	position: absolute;
	width: 90%;
	left: 5%;
	text-align: center;
	font: 600 26px sans-serif;
	color: #444;
	text-shadow: 0 1px 0 #DDD,
	0 -1px 0 #DDD,
	1px 0 0 #DDD,
	-1px 0 0 #DDD;
}
